@namespace BlazorUI
@page "/PetPage"
@inherits LzComponentBaseAssignViewModel<PetViewModel>
@inject ISessionViewModel SessionViewModel
@inject IPetViewModelFactory PetViewModelFactory

<MudPaper>
    <MudContainer>
        <h1>@ViewModel!.Data!.Name</h1>
        <PetStatusSelect @bind-Value="ViewModel.Data!.PetStatus" />    
    </MudContainer>
</MudPaper>

@code {

    protected override async Task OnInitializedAsync()
    {
        ViewModel = SessionViewModel.PetsViewModel.CurrentViewModel;
        await base.OnInitializedAsync();
    }

}
