.lz-blazor-loading-progress {
    position: relative;
    display: block;
    width: 8rem;
    height: 8rem;
    margin: 20vh auto 1rem auto;
}

.lz-blazor-loading-progress svg {
    width: 100%;
    height: 100%;
    transform: rotate(-90deg);
}

.lz-blazor-loading-progress circle {
    fill: none;
    stroke: #e0e0e0;
    stroke-width: 0.4rem;
}

.lz-blazor-loading-progress circle:last-child {
    stroke: #1b6ec2;
    transition: stroke-dashoffset 0.5s ease-in-out;
    transform-origin: 50% 50%;
}

.lz-blazor-loading-progress-text {
    position: absolute;
    text-align: center;
    font-weight: bold;
    inset: calc(3.25rem) 0 auto 0.2rem;
}

    .lz-blazor-loading-progress-text:after {
        content: var(--lz-blazor-load-percentage-text);
    }

.lz-blazor-loading-message {
    position: absolute;
    width: 100%;
    text-align: center;
    top: calc(100% + 1rem);
    color: #1b6ec2;
}
